<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/img/css/style.css' ) }}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <h1>HAFIN</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="#acerca">Acerca de</a>
        <a href="#servicios">Servicios</a>
        <a href="#contacto">Contacto</a>
    </nav>

    <main>
        <h2>Iniciar Sesión</h2>
        <form action="/admin">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </main>

    
</body>
</html>